<div class="container">
  <h1>Welcome To Credit 3</h1>
  <!-- <h1>{{number | decimalPipe}}</h1>
    <app-parent></app-parent>
    <div class="Dir">
        <input type="text" [(ngModel)]="color">
        <p appHighlight [highlightColor]="color">HOVER ON ME</p>
    </div>

    <div class="sDir">
        <label class="switch">
            <input type="checkbox" [(ngModel)]="show">
            <span class="slider round"></span>
        </label>
        <p *appNot="show">Custom Structural Directive</p>
    </div> -->
</div>
